@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .from-to {
    @apply border-2 border-gray-200 focus:border-sky-600 outline-none px-2 w-full;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
